*{
    margin: 0;
    padding: 0;

}
body{
    background-color: hsl(0, 0%, 0%);
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

h1{
    font-family: "Bellefair", serif;
}
.logo span{
    font-family: "Bellefair", serif;
    font-weight: 500;
    font-size: 24px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
 padding: 30px 0;
}
ul{
    display: flex;
    list-style: none;
   gap: 1rem;
}
li{
    list-style: none;

}
li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 0rem 1rem;
    transition: all 0.3s ease-in-out;
    line-height: 1.5;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s e;
    -moz-transition: all 0.3s e;
    -ms-transition: all 0.3s e;
    -o-transition: all 0.3s e;
}
a:hover{
    color: hsl(180 100% 50%);
    
}
.social-icons img{
    width: 25px;
}

/* .hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('images/hero-removebg-preview.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
} */


/* Default: no background on large screens */
.custom-navbar {
    background: transparent;
    transition: background 0.3s ease;
  }
  
  /* When mobile menu is open */
  @media (max-width: 991.98px) {
    .custom-navbar.expanded {
      background: #000;
    }
  
    .custom-navbar .nav-link {
      color: #fff !important;
    }
  
    .custom-navbar .navbar-brand {
      color: #fff !important;
    }
    .py-5{
        text-align: center;
    }
  }
  
  .btn{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color:hsl(180 100% 50%);
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.display-5{
    text-align: center;
    font-family: "Bellefair", serif;
    margin-bottom: 1rem;
    color: hsl(180 100% 50%);
}
.colorw{
    color: hsl(180 100% 50%);
}

.sub-text{
    font-size: 14px;
    line-height: 1.5;
}
.sub-text a{
    color: hsl(180 100% 50%);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.box{
    text-align: center;
    margin-bottom: 2rem;
}

.text{
    color: #fff;
    font-size: 14px;
    text-align: center;

}
.st{
    display: flex;
    margin-top: 0.8rem;
    flex-direction: column;
}
.st h1{
    margin-bottom: 0.5rem;
}